@font-face {
    font-family: Raleway;
    src: url(www/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: RalewayItalics;
    src: url(www/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: RalewayBold;
    src: url(www/Raleway-Bold.ttf);
}

@font-face {
    font-family: RalewaySemiBold;
    src: url(www/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: RalewayExtraBold;
    src: url(www/Raleway-ExtraBold.ttf);
}

h1{
    font-family: Raleway;
    font-size: 70px;
    color: white;
}

h3{
    font-family: RalewaySemiBold;
    font-size: 50px;
}

p{
    font-family: Raleway;
}

button {
    font-family: RalewayItalics;
}

#popup {
    border-radius: 20px;
    height: auto;
    background-color: white;
    width: 365px;
    border-radius: 20px;
    margin-top: 50%;
    display: none;

}

img {
    height: 250px;
    width: auto;
    border-radius: 20px;
}

body{
    background-color: black;
}

#1,
#2,
#3,
#4,
#5,
#6,
#7{
    color: black;
    background-color: white;
    padding-top: 200px;
    padding-bottom: 20px;
}

.tiles {
    background-color: white;
    width: 365px;
    border-radius: 20px;
}

.learnbbtn {
    width: 330px;
    border-radius: 15px;
    border: none;
    font-size: 30px;
    background-color: black;
    color: white;
}

.popupbttn{
    border: none;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 89%;
}

#popupcard {
    margin-top: -45px;
    padding-left: 5.px;
    font-size: 35px;
    width: 85%;
}

#popup-text {
    padding-left: 20px;
    padding-bottom: 10px ;
}

p{
    padding-right: 20px;
}

.quote {
    width: 330px;
    border: none;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-size: 30px;
}
